/* Chrome, Safari, Opera */
@-webkit-keyframes moveup
{
    0%   {margin-top: 3%}
    100%  {margin-top: 0%}
}

/* Standard syntax */
@keyframes moveup
{
    0%   {margin-top: 5%}
    100%  {margin-top: 0%}
}

.animation-moveup{
    /* Chrome, Safari, Opera */
    -webkit-animation-name:moveup;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-delay:1;
    -webkit-animation-iteration-count:1;
    -webkit-animation-play-state:running;
    /* Standard syntax */
    animation-name:moveup;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:1s;
    animation-iteration-count:1;
    animation-play-state:running;
}

.headView{
    background: url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/splash2.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    padding-top: 300px;
}

.mobilePcCloudView{
    background-color: #ecf0f1;
}

.greenView{
    background-color: #27ae60;
}

.darkGreenView{
    background-color: #7f8c8d;
}

.headTextLarge{
    min-width: 600px;
    margin: 0 auto;
    font-size: 70px;
}

.headTextNormal{
    min-width: 600px;
    margin: 0 auto;
    font-size: 40px;
}

.descriptionTextNormal{
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
}


.shortText{
    margin: 0 0;
    width: 530px;
}

.longText{
    width: 800px;
}

.smallDescriptionTextNormal{
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    font-size: 17px;
    text-align: center;
}

.smallText{
    font-size: 17px;
}

.normalText{
    font-size: 20px;
}

.largeText{
    font-size: 30px;
}

.xLargeText{
    font-size: 60px;
}

.xxLargeText{
    font-size: 130px;
}

.central section a{
    margin-top: 50px;
	font-size: 20px;
    text-decoration: none;
	color: black;
}

.central section p{
    margin-top: 10px;
	color: #8e959c;
	font-size: 15px;
}

.text-right{
    float:right;
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.float-left{
    float:left;
}

.text-left{
    float:left;
    text-align: left;
    width: 500px;
}

.float-right{
    float:right;
}

.column-large{
    width: 700px
}

.column-small{
    width: 200px;
}

.column-xSmall{
    width: 100px;
}

.line-height-one{
    line-height: 1;
}

.default-top-margin{
     margin-top: 20px;
 }

.large-top-margin{
    margin-top: 100px;
}

.default-bottom-margin{
    margin-bottom: 20px;
}

.default-left-margin{
    margin-left: 20px;
}

.large-left-margin{
    margin-left: 40px;
}


.xLarge-left-margin{
    margin-left: 80px;
}

.tasks-feature-container{
    min-height:760px;
    min-width: 255px;
    height:760px;
    width:255px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.outer-container{
    height:253px;
    width: 255px;
    padding: 25px 25px;
}

.outer-container:hover{
    background-color: rgba(39,174,96,0.15);
}

.inner-container a{
    color: #2ecc71;
    font-size: 18px;
}

#tasks-image{
    min-height:760px;
    min-width: 390px;
    height:760px;
    width:390px;
    margin-top: 70px;
    margin-bottom: 70px;
    background: url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/tasks.png') no-repeat;
}




