#splash {
	height:100%;
	left:0;
	position:absolute;
	width:100%;
}
#splash .slide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/splash.jpg');
}


.slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}


.drakGreenText{
    color: #27ae60;
}

.darkGreyText{
    color: #424242;
}

.lessDarkGreyText{
    color: #6d6d6d;
}

.greyText{
    color: #7f8c8d;
}

.greenText{
	display: block;
	color: #ffffff;
	word-spacing: 1px; 
	letter-spacing: 0px; 
	font-size: 50px;
	padding: 0px 30px;
}

.greenTextLarge{
    display: block;
    color: white;
    word-spacing: 1px;
    letter-spacing: 0px;
    font-size: 80px;
    padding: 0px 30px;
}

.normalText{
	color: white;
	display: block;;
	word-spacing: 1px; 
	letter-spacing: 0px; 
	font-size: 30px;
}

.whiteText{
    color: white;
}

.blackText{
    color: #000000;
}

.silverText{
    color: #ecf0f1;
}

.greenDivider{
    margin-top: 10px;
    background-color: black;
    color: white;
    display: block;
    height: 3px;
}

.home-text-center {
  position: absolute;
  z-index: 3;
  bottom: 50%;
  left: 50%;
  width: 500px;
  text-align: right;
}

.home-btn-bottom {
  position: absolute;
  z-index: 3;
  bottom: 15%;
  width: 100%;
  text-align: center;
}

.twp-logo{
    width:191px;
    height:56px;
    -webkit-background-size: 191px 56px;
    background-size: 191px 56px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/logo.png');
    margin: 0 auto;
    margin-top: 20px;
}

.btn-light{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-light:hover{
    border: 4px solid white;
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    font-size: 22px;
}

.central{
	margin:0 auto;
	width:1000px;
	clear:both;
	position:relative;
	z-index: 2;
}

.absolute-center{
    min-width: 1100px;
    min-height: 500px;
    margin: 0 auto;
}

.text-with-shadow{
    color: #ffffff;
    text-shadow: 0 2px 1px rgba(0,0,0,0.15);
}

.row-fluid{
    margin-top: 20px;
    width: 100%;
    display: block;
}

a:hover{
    text-decoration: none;
}


.feature{
    width: 31%;
    margin-left: 3.5%;
    display: block;
    box-sizing: border-box;
    float: left;
}

.firstFeature{
    margin-left: 0px;
}

.iconFeature{
    width:200px;
    height:200px;
    -webkit-background-size: 200px 200px;
    background-size: 200px 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/cloud.png');
    margin: 0 auto;
    margin-top: 20px;
}

.iconMobile{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/mobile.png');
}

.iconPc{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/pc.png');
}

.iconPhone{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/phone.png');
}

.iconEmail{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/email.png');
}

.iconData{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/data.png');
}

.iconTask{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/task.png');
}

.iconRadar{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/radar.png');
}

.iconReport{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/report.png');
}

.iconCamera{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/camera.png');
}

.iconGroup{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/group.png');
}

.iconSkin{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/skin.png');
}

.iconAdd{
    background-image:url('http://companyassets.oss-cn-beijing.aliyuncs.com/img/add.png');
}

.firstSection{
    height: 670px;
    min-height: 670px;
    position: relative;
}

.sectionContainer{
    background-color: #ecf0f1;
}

.secondSection{
    height: 500px;
    min-height: 500px;
    position: relative;
    padding: 50px;
    max-width: 1170px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.secondHalfSection{
    height: 950px;
    min-height: 950px;
    position: relative;
    padding: 50px;
    max-width: 1170px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.thirdSection{
    height: 400px;
    min-height: 400px;
    position: relative;
    padding: 120px 15%;
}

.fourthSection{
    height: 1000px;
    min-height: 1000px;
    position: relative;
    padding: 50px;
    max-width: 1200px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}