<div>

    <twpnavigationbar></twpnavigationbar>

    <div class="sectionContainer greenView">
        <div class="price-firstSection absolute-center greenView">
            <div class="column-large float-left">
                <div class="headTextNormal text-align-left whiteText">谢谢您的关注</div>
                <div class="descriptionTextNormal text-align-left silverText shortText">想使用“微风”？对“微风”有疑问？想成为我们的合作伙伴？我们的成长离不开您的支持。谢谢！</div>
            </div>
        </div>
    </div>


    <div class="sectionContainer">
        <div class="contact-section mobilePcCloudView">
            <div class="float-left column-small">
                <div class="iconFeature iconPhone"></div>
                <div class="iconFeature iconEmail"></div>
            </div>
            <div class="float-left column-large">
                <div class="xLargeText drakGreenText contact-number"> 18611416776</div>
                <div class="xLargeText drakGreenText contact-email">sales@twpcloud.cn</div>
            </div>
        </div>
    </div>

    <twpfooterbar></twpfooterbar>

</div>