<div>

    <div>

        <div>
            <p>{{data.companyName}}</p>
            <div>
                <ul>
                    <li ng-repeat="navigationButton in data.navigationButtons">
                        <a href="{{navigationButton.link}}">{{navigationButton.title}}</a>
                    </li>
                </ul>
            </div>

        </div>

        <div>
            <p>{{data.headerText}}</p>
            <img ng-src="{{data.headerImageUrl}}">
        </div>

        <div>
            <ul>
                <li ng-repeat="section in data.sections">
                    <img ng-src="{{section.imageUrl}}">
                    <p>{{section.title}}</p>
                    <p>{{section.description}}</p>
                </li>
            </ul>
        </div>

    </div>

</div>