<div>

    <twpnavigationBar></twpnavigationBar>
    
    <div class="header-view">
        <p class="header-text">{{data.headerText}}</p>
        <img ng-src="{{data.headerImageUrl}}" class="header-text">
    </div>
    
    <div class="content-container">
    	<ul>
            <li ng-repeat="section in data.sections" class="content-section">
                <img ng-src="{{section.imageUrl}}">
                <p>{{section.title}}</p>
                <p>{{section.description}}</p>
            </li>
        </ul>
    </div>
    
</div>
