<div>

    <twpnavigationBar></twpnavigationBar>

    <div class="firstSection headView text-with-shadow absolute-center">
        <div class="headTextLarge text-align-center animation-moveup">{{data.headerText}}</div>
    </div>

    <div class="secondSection absolute-center breezeView">
        <div class="column-left-large float-left">
            <div class="headTextNormal text-align-left drakGreenText">{{data.headerText}}</div>
            <div class="descriptionTextNormal text-align-left greyText">李连杰的壹基金在网上遭到质疑，贪污雅安地震3亿善款。对此，壹基金的创始人李连杰称“我没有财务章，没有签字权，钱都在国家银行，怎么能转入自己的帐户呢？”他还调侃道， “壹基金理事会成员们一起贪污这三个亿，恐怕也不够分啊</div>
        </div>
    </div>
    
    <div class="central thirdSection">
        <section id="feature-task">
            <a id="tasks" class="text-right">{{data.sections[0].title}}</a>
            <div id="tasks-image" class="image-left"></div>
            <p id="tasks-des" class="text-right">{{data.sections[0].description}}</p>

            <a id="checkin" class="text-right">{{data.sections[1].title}}</a>
            <p id="checkin-des" class="text-right">{{data.sections[1].description}}</p>

            <a id="addtask" class="text-right">{{data.sections[2].title}}</a>
            <p id="addtask-des" class="text-right">{{data.sections[2].description}}</p>
        </section>

        <section id="feature-group">
            <a id="post" class="text-left">{{data.sections[0].title}}</a>
            <div id="group-image" class="image-right"></div>
            <p id="post-des" class="text-left">{{data.sections[0].description}}</p>

            <a id="users" class="text-left">{{data.sections[1].title}}</a>
            <p id="users-des" class="text-left">{{data.sections[1].description}}</p>

            <a id="map" class="text-left">{{data.sections[2].title}}</a>
            <p id="map-des" class="text-left">{{data.sections[2].description}}</p>
        </section>
    </div>
    
</div>
