<div>

    <twpnavigationBar></twpnavigationBar>
    
    <div class="header-view">
        <p class="header-text">{{data.headerText}}</p>
    </div>
    
    <div class="central">
        <section id="feature-task">
            <a id="tasks" class="text-right">{{data.sections[0].title}}</a>
            <div id="tasks-image" class="image-left"></div>
            <p id="tasks-des" class="text-right">{{data.sections[0].description}}</p>

            <a id="checkin" class="text-right">{{data.sections[1].title}}</a>
            <p id="checkin-des" class="text-right">{{data.sections[1].description}}</p>

            <a id="addtask" class="text-right">{{data.sections[2].title}}</a>
            <p id="addtask-des" class="text-right">{{data.sections[2].description}}</p>
        </section>

        <section id="feature-group">
            <a id="post" class="text-left">{{data.sections[0].title}}</a>
            <div id="group-image" class="image-right"></div>
            <p id="post-des" class="text-left">{{data.sections[0].description}}</p>

            <a id="users" class="text-left">{{data.sections[1].title}}</a>
            <p id="users-des" class="text-left">{{data.sections[1].description}}</p>

            <a id="map" class="text-left">{{data.sections[2].title}}</a>
            <p id="map-des" class="text-left">{{data.sections[2].description}}</p>
        </section>
    </div>
    
</div>
