<div id="splash">
    <div class="slide">
        <div class="home-text-center">
            <span class="slabtext greenTextLarge text-with-shadow">{{data.welcomeText0}}</span>
            <span class="slabtext greenText text-with-shadow">{{data.welcomeText1}}</span>
            <span class="slabtext normalText text-with-shadow">{{data.headerText}}</span>
            <div class="greenDivider"></div>
        </div>
        <div class="home-btn-bottom">
            <a href="#/breeze/{{data.buttonLink}}" class="btn-light"> {{data.buttonTitle}} </a>
        </div>
    </div>
</div>

