<div>

    <div class="navigation-bar">
        <p class="navigation-title">{{data.companyName}}</p>

        <div>
            <ul>
                <li ng-repeat="navigationButton in data.navigationButtons" class="navigation-button">
                    <a href="#/breeze/{{navigationButton.link}}">{{navigationButton.title}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-view">
        <p class="header-text">{{data.headerText}}</p>
    </div>

    <div class="content-container">
        <ul>
            <li ng-repeat="price in data.prices" class="content-price">
                <p>{{price.title}}</p>
                <p>{{price.price}}</p>
                <p>{{price.description}}</p>
                <ul>
                    <li ng-repeat="detail in price.details" class="content-price-detail">
                        <p>{{detail}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>